*{
    font-family: 'Righteous', cursive;
}
.wrapper {
    width: 100%;
    height: 100vh;
    background: url(img/backgroundmain.jpg) no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.logo{
    display: block;
    width: 100%;
    height: 100px;
    text-align: center;
    margin-bottom: 100px;
}
.logo-pic{
    height: 50px;
    margin-bottom: 100px;
}
#sound{
    width: 30px;
    height : 30px;
    cursor: pointer;
    position: absolute;
    top : 40px;
    left : 40px;
}
#gameover{
    position: absolute;
    width : 400px;
    height: 500px;
    background: rgba(0,0,0,0.5);
    display: none;
}
#youwon{
    width: 100px;
    position: absolute;
    top : 200px;
    left : 150px;
    display: none;
}
#youlose{
    width:400px;
    position: absolute;
    top: 100px;
    left : 0px;
    display: none;
}
#restart{
    position: absolute;
    top: 310px;
    left : 155px;
    cursor: pointer;
    font-size: 1.25em;
    color : #FFF;
}