* {
	box-sizing: border-box;
	font-family: sans-serif;
}

div.container {
	padding: 0px;
}

nav.menu {
	position: sticky;
	top: 0;
	background: rgb(206, 200, 200);
	border: 1px solid black;
}

a {
	color: white;
}

section.hero {
	height: 850px;
	background-image: url('img/hero1.jpg');
	background-position: center;
}
