div.wrapper {
	position: sticky;
	top: 0;
	padding: 0px 0px;
}

a {
	padding-bottom: 0px !important;
	color: #2a2a2a;
	font-size: 20px;
	font-weight: 500;
	padding: 6px 0;
	text-transform: uppercase;
	border-bottom: 2px solid #d65a31;
}

a:hover {
	color: #d65a31;
	text-decoration: none;
}

.menu-full, .menu-bar {
	background-color: #eee;
}

.menu-list, .menu-full__item1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-bar, .menu-bar__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

button.navbar-toggler {
	background-color: #393E46;
}

section.hero {
	height: 850px;
	background-image: url('img/hero1.jpg');
	background-position: center;
	background-repeat: no-repeat;
}