*
{
    box-sizing: border-box;
    important: !;
}

.flex-container { 
    background-color: #eeeeee;
    text-align: center;
  }
   
  .flex-container div.box-app {
    display:inline-block;
    width: auto;
    padding: 20px;
    text-align: center;
}
i.fas, i.fab
{   display: block;
    width: 90px;
    height: 90px;
    font-size: 50px;
    color: #d65a31;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid #393e46;;
    border-radius: 100%;
    background-color: #393e46;
}
.box-app-information
{
    margin: 0 auto;
}
p.info-about-app
{   
    display: block;
    color: #222831;
    font-size: 18px;
    margin: 15px auto 0 auto;
    text-align: center;
    width: 80%;
    
}