*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-information { 
    background-color: #eeeeee;
    text-align: center;
  }

.section-name {
    color: #222831;
    font-size: 35px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    letter-spacing: 3px;
  }
   
.box-app {
    display:inline-block;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    text-align: center;
}
.box-app__icon
{   display: block;
    width: 90px;
    height: 90px;
    font-size: 50px;
    color: #eee;
    margin: 0 auto;
    padding: 15px 0;
    border: 2px solid #393e46;;
    border-radius: 100%;
    background-color: #393e46;
}
.box-app-information
{
    margin: 0 auto;
}
.box__about-app
{   
    display: block;
    height: 90px;
    width: 65%;
    color: #222831;
    font-size: 20px;
    margin: 15px auto 0 auto;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #d65a31;
    
}
.box__about-app__description
{   
    display: block;
    width: 60%;
    color: #393e46;
    font-size: 16px;
    margin: 15px auto 0 auto;
    text-align: center;
;
    
}